{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Cart{% endblock %}
{% block content %}
  <div class="col-8">
    <h2>Cart</h2>
    <form method="post">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for form in formset %}
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ form.instance.good.image.url }}" alt="{{ form.instance.good.slug }}" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ form.instance.good.title }}</h5>
                <div class="row-col-3">
                    <p class="card-text">{{ form|crispy }}</p>
                </div>
                <p class="card-text">Price: {{ form.instance.good.price }} UAH</p>
                <p class="card-text">Total: {{ form.instance.get_total }} UAH</p>
                <button class="btn btn-warning" type="submit">Save</button>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
        <p>You haven't chosen any goods yet.</p>
      {% endfor %}
    </form>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cart Summary</h5>
        <p class="card-text">Total Items: {{ cart_items.count }}</p>
        <p class="card-text">Total Price: {{ total_price }} UAH</p>
        <a href="#" class="btn btn-primary">Checkout</a>
      </div>
    </div>
  </div>
{% endblock %}