{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}Cart{% endblock %}
{% block content %}
  <div class="col-8">
    <h2>Cart</h2>
      {% for item in items %}
      {% if items %}
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ item.good.image.url }}" alt="{{ item.good.slug }}" class="img-fluid">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ item.good.title }}</h5>
                <p class="card-text">Price: {{ item.good.price }} UAH</p>
                <p class="card-text">Quantity: {{ item.quantity }}</p>
                <p class="card-text">Total: {{ item.get_total }} UAH</p>
              </div>
            </div>
          </div>
        </div>
        {% else %}
          <p>You haven't chosen any goods yet.</p>
        {% endif %}
      {% endfor %}
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cart Summary</h5>
        <p class="card-text">Total Items: {{ cart_items.count }}</p>
        <p class="card-text">Total Price: {{ total_price }} UAH</p>
        <a href="#" class="btn btn-primary">Checkout</a>
      </div>
    </div>
  </div>
{% endblock %}
