<footer class="bg-body-secondary text-light py-5 rounded">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod semper libero, ac mollis lectus tincidunt et.</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h5>Contact Us</h5>
        <address>
          123 Main Street<br>
          City, State, ZIP<br>
          Phone: (123) 456-7890<br>
          Email: info@example.com
        </address>
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    &copy; 2023 Your Company. All rights reserved.
  </div>
</footer>
