<nav class="navbar navbar-expand-lg navbar-dark bg-body-secondary rounded" data-bs-theme="dark">
  <div class="container-fluid d-flex justify-content-start">
    <a class="navbar-brand" href="#">Brand</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% include 'includes/catalog.html' %}
      </ul>
      <form class="ms-auto">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <button class="btn btn-warning" type="button">Search</button>
        </div>
      </form>
      <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><i data-feather="shopping-cart"></i></a>
          </li>
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i data-feather="user"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="#">Your Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:password_change' %}">Password change</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a></li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
          </li>
        {% endif %}


      </ul>
    </div>
  </div>
</nav>
