{% extends 'base.html' %}
{% block title %}Detail Info{% endblock %}
{% block content %}
  <div class="col-lg-6">
    <div class="border rounded p-3">
      <img src="{{ good.image.url }}" alt="{{ good.title }}" class="img-fluid">
      <h4 class="pt-4">Description:</h4>
      {% if good.description %}
        <p>{{ good.description }}</p>
      {% else %}
        <p>Here have no description yet.</p>
      {% endif %}
    </div>
  </div>
  <div class="col-lg-6">
    <div class="border rounded p-3">
      <h2 class="text-warning">{{ good.title }}</h2>
      {% if good.short_description %}
        <p>{{ good.short_description }}</p>
      {% endif %}
      {% if good.quantity > 0 %}
      <p class="text-success">In stock</p>
      <p>Price: {{ good.price }} UAH</p>
      <button class="btn btn-warning">Add to Cart</button>
    {% else %}
      <p class="text-secondary-emphasis">Out of stock</p>
      <p>Price: {{ good.price }} UAH</p>
      <button class="btn btn-warning disabled">Add to Cart</button>
    {% endif %}
    </div>
  </div>
{% endblock %}
